body {
    margin: 0;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);

}

.filter-setting {
    display: flex;
}

.setting-block {
    width: 82%;
}

.filter-column-block {
    float: right;
    width: 18%;
}

.filter-block {
    border-left: solid 1px;
    border-bottom: solid 1px;
    border-color: #dfdfdf;
    position: static;
    margin: 0;
    display: block;
    height: 95px;
    text-align: center;

}

span.filter-name {
    padding: 36px;
    display: block;
}