body {
    margin: 0;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);

}

.filter-setting {
    display: flex;
}


.filter-column-block {
    float: right;
    width: 18%;
}

.filter-block {
    border-top: none;
    border-left: solid 1px;
    border-bottom: none;
    border-color: #dfdfdf;
    padding-top: 17%;
    position: relative;
    margin: 0;
    display: block;
    min-height: 15.3%;
    text-align: center;
}

.filter-block.on {
    border-top: solid 1px;
    border-left: none;
    border-bottom: solid 1px;
    border-color: #dfdfdf;
}

.container {
    width: 82%;
}

.setting-bubble {
    display: block;
    position: relative;
    /*left: 25%;
    max-width: 50%;*/
    padding: 1%;
    margin: 4%;
    /*margin-top: 2%;
    margin-bottom: 2%;*/
    border: solid 2px;
    border-color: #dfdfdf;
    border-radius: 8px;
    text-align: center;

}

.border {
    border-top: solid 2px;
    border-color: #dfdfdf;
}

.setting-title {
    margin-left: 4%;
}

#quality_cover {
    background: #eb4b4b;
    color: white;
}

#quality_classified {
    background: #c92ce6;
    color: white;
}

#quality_restricted {
    background: #8545f3;
    color: white;
}

#quality_milspec {
    background: #4965f3;
    color: white;
}

#quality_industrial {
    background: #4d91c5;
    color: white;
}

#quality_consumer {
    background: #b0c3d9;
    color: white;
}

.setting-bubble.on, #quality_cover.on,
#quality_classified.on, #quality_restricted.on,
#quality_milspec.on, #quality_industrial.on,
#quality_consumer.on {
    background: #eea20e;
    border-color: #db9f27;
    color: white;
}